body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: lightseagreen;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;

}


header {
    text-align: center;
    background-color: mediumaquamarine;
    text-decoration: underline;
    border: lightsalmon 2px solid;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

h3 {
    font-weight: 200;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

span {
    margin: 15px;
    width: 150px;
    height: 25px;
    background-color: lightgoldenrodyellow;
    text-align: center;
    border: 1px black inset;
    font-family: monospace;
    font-size: large;
    font-weight: 300;
}

button {
    margin: 20px;
    width: 100px;
    height: 25px;
    background-color: mistyrose;
    font-weight: 300;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px auto;
}

div {
    margin: 20px;
}

input {
    text-align: center;
    border: black 1px inset;
    background-color: rgb(176, 197, 235);
    font-family: monospace;
    font-size: large;
    font-weight: 300;
}

.addition, .subtraction, .multiplication, .division {
    border: lightsalmon 2px solid;
    border-radius: 10px;
    border: inset;
    background-color: rgba(240, 233, 233, 0.632);
    padding: 30px;
    margin: 10px;
}

